<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>279500632368-t49lu8d36a0isi1jpd3cl7ehdclaipv1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.279500632368-t49lu8d36a0isi1jpd3cl7ehdclaipv1</string>
	<key>API_KEY</key>
	<string>AIzaSyBHxMFBbykGURvIkLwGZS0n3sN3klR452Y</string>
	<key>GCM_SENDER_ID</key>
	<string>279500632368</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bezginevgenii.Navigation</string>
	<key>PROJECT_ID</key>
	<string>vkauth-42b67</string>
	<key>STORAGE_BUCKET</key>
	<string>vkauth-42b67.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:279500632368:ios:78ecd48877172798f1d8f5</string>
</dict>
</plist>